# Multiple Linear Regression

Prediksi harga rumah dengan Multiple Linear Regression

### Load Boston

In [1]:
from sklearn.datasets import load_boston
boston = load_boston()
print( "type of boston = ", type(boston))

type of boston =  <class 'sklearn.utils.Bunch'>

In [2]:
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

### Sample Dataset

#### Training Dataset

In [4]:
import pandas as pd

rumah = {'kamar': [2, 4, 6, 8, 10], 
         'pajak': [2, 1, 0, 2, 0],
         'harga': [7, 9, 13, 17.5, 18]}

train_rumah_df = pd.DataFrame(rumah)
train_rumah_df

   kamar  pajak  harga
0      2      2    7.0
1      4      1    9.0
2      6      0   13.0
3      8      2   17.5
4     10      0   18.0

#### Testing Dataset

In [5]:
rumah = {'kamar': [4, 6, 8, 10, 12], 
         'pajak': [2, 0, 2, 2, 0],
         'harga': [11, 8.5, 15, 18, 11]}

test_rumah_df = pd.DataFrame(rumah)
test_rumah_df

   kamar  pajak  harga
0      4      2   11.0
1      6      0    8.5
2      8      2   15.0
3     10      2   18.0
4     12      0   11.0

### Preprocessing Dataset

In [6]:
import numpy as np

X_train = np.array(train_rumah_df[['kamar', 'pajak']])
y_train = np.array(train_rumah_df['harga'])

print(f'X_train:\n{X_train}\n')
print(f'y_train: {y_train}')

X_train:
[[ 2  2]
 [ 4  1]
 [ 6  0]
 [ 8  2]
 [10  0]]

y_train: [ 7.   9.  13.  17.5 18. ]

In [7]:
X_test = np.array(test_rumah_df[['kamar', 'pajak']])
y_test = np.array(test_rumah_df['harga'])

print(f'X_test:\n{X_test}\n')
print(f'y_test: {y_test}')

X_test:
[[ 4  2]
 [ 6  0]
 [ 8  2]
 [10  2]
 [12  0]]

y_test: [11.   8.5 15.  18.  11. ]

### Multiple Linear Regression

In [8]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
    
print(f'r_squared: {r2_score(y_test, y_pred)}')

r_squared: -1.5166932919054412